.logoimage {
  justify-content: left;
  width: 100px;
  padding-right: inherit;
}


.navbarclass {
  background-image: linear-gradient(to right, rgb(0, 0, 255), rgb(102, 0, 102));
  font-size: 20px;
}

.navbarclass p {
  font-size: 15px;
}

.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.8rem;
  line-height: inherit;
  white-space: nowrap;
  font-style: block;
}